<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/9631/9631363.png"
          type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .job-details {
            display: none; /* Ẩn chi tiết công việc ban đầu */
        }
    </style>
</head>
<body>
<div class="container d-flex justify-content-between align-items-center position-absolute top-0 end-0 p-3"
     style="z-index: 1;">
    <!-- Ô tìm kiếm -->
    <form th:action="@{/search}" method="get">
        <div class="input-group w-75">
            <input type="text" name="search" class="form-control" placeholder="Search job..."
                   aria-label="Search" th:value="${search}">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <!-- Nút Đăng nhập -->
    <a th:href="@{/login}" class="btn btn-primary">Login</a>
</div>

<!-- Nội dung chính -->
<div class="container mt-5 pt-5">
    <h1 class="mb-4">Job List</h1>

    <!-- Danh sách công việc -->
    <div class="row">
        <div th:each="job : ${jobPage.content}" class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${job.jobName}"></h5>
                    <p class="card-text" th:text="${job.jobDesc}"></p>
                    <p class="card-text">Company: <span th:text="${job.company.compName}"></span>
                    </p>

                    <!-- Hiển thị địa chỉ công ty -->
                    <p class="card-text">
                        <strong>Address:</strong> <span
                            th:text="${job.company.address.getAddress()}"></span>
                    </p>

                    <!-- Nút Xem chi tiết -->
                    <button class="btn btn-secondary"
                            th:onclick="|toggleDetails('job-details-' + ${job.id})|">Details
                    </button>

                    <!-- Chi tiết công việc (ẩn mặc định) -->
                    <div th:id="'job-details-' + ${job.id}" class="job-details">
                        <p class="card-text"><strong>Required Skills:</strong></p>
                        <ul>
                            <li th:each="jobSkill : ${job.jobSkills}">
                                <span th:text="${jobSkill.skill.skillName}"></span> -
                                <span th:text="${jobSkill.skillLevel}"></span>
                                <p th:text="${jobSkill.moreInfos}"></p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Phân trang -->
    <div class="container mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <!-- Phần phân trang - nút "Previous" (Lùi lại) -->
                <li class="page-item" th:classappend="${jobPage.hasPrevious()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/search(size=${jobPage.size}, page=${jobPage.number - 1}, search=${search})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- Các số trang -->
                <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                    th:classappend="${pageNumber == jobPage.number + 1} ? 'active' : ''">
                    <a th:href="@{/search(size=${jobPage.size}, page=${pageNumber - 1}, search=${search})}"  class="page-link"
                       th:text="${pageNumber}"></a>
                </li>

                <!-- Phần phân trang - nút "Next" (Tiếp theo) -->
                <li class="page-item" th:classappend="${jobPage.hasNext()} ? '' : 'disabled'">
                    <a class="page-link"
                       th:href="@{/search(size=${jobPage.size}, page=${jobPage.number + 1}, search=${search})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- JavaScript để điều khiển việc hiển thị chi tiết -->
<script>
    function toggleDetails(id) {
        console.log(id);
        var element = document.getElementById(id);
        if (element) {
            if (element.style.display === "none" || element.style.display === "") {
                element.style.display = "block";
            } else {
                element.style.display = "none";
            }
        }
    }
</script>
</body>
</html>
